 .container {
   padding: 2rem 5rem;
   min-height: 100vh;
 }

 /* Style for the header container */
 .header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 5rem;
   box-shadow: 2px 2px 18px red;
 }

 /* Style for the logo */

 .logo img {
   width: 70%;
 }

 /* Style for the menu links */
 nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 nav li {
   display: inline-block;
   margin-right: 20px;
 }

 nav li:last-child {
   margin-right: 0;
 }

 /* Style for the link inside the menu */
 nav li a {
   text-decoration: none;
   color: #fff;
   font-weight: 500;
   font-size: 1.5rem;
 }

 /* Optional: Hover effect for the menu links */
 nav li a:hover {
   color: #fff;
   font-weight: 800;
   text-shadow: 1px 3px 4px red;
 }


 .footer {
   text-align: center;
   padding: 10px 0;
   box-shadow: 2px 2px 18px red;
 }

 /* blog page  */
 .blog_pg {
   display: flex;
   justify-content: space-around;
 }

 .blog_pg .bmimg {
   width: 100%;
   height: 30rem;
 }

 .blog_pg .blog_data {
   width: 60rem;
 }


 /* recent blog section */
 .blog_pg .latest_blog_section {
   width: 10rem;
 }

 .latest_blog_section img {
   width: 100%;
   height: auto;
 }

 .mob_header_icon {
   display: none;
 }

 .active_sidebar {
   transform: translateX(0);
   display: none;
 }

 /* Media query for smaller screens */
 @media (max-width: 768px) {
   .header {
     padding: 1rem 1rem;
     display: block;
   }

   .desk_header {
     display: none;
   }

   .active_sidebar {
     display: block;
     position: fixed;
     top: 101px;
     left: 0;
     width: 100%;
     height: auto;
     background-color: #202124;
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
     animation: styles_slideOut__YM7jd 0.3s ease-in-out forwards;
     z-index: 10;
     padding: 1rem;
     animation: styles_slideIn__jVdjv 0.3s ease-in-out forwards;
   }

   nav ul {
     display: grid;
     text-align: center;
     gap: 1rem;
   }



   .mob_header_icon {
     display: block;
   }

   .logo {
     display: flex;
     align-items: center;
     width: 100%;
     justify-content: space-between;
   }

   .logo img {
     width: 50%;
     margin-right: 0;
   }

   .container {
     padding: 1rem 1rem;
     min-height: 100vh;
   }

   .blog_pg {
     flex-direction: column;
   }

   .blog_pg .bmimg {
     height: auto;
   }

   .blog_pg .blog_data {
     width: 100%;
   }

   .blog_pg .latest_blog_section {
     width: 100%;
   }
 }